<%# Campo para descrever dúvida %>
<div class="form-group text optional monitoring_question">
  <label class="text optional" for="monitoring_question">Descreva sua dúvida:</label>
  <textarea class="form-control text optional" name="monitoring[question]" id="monitoring_question"></textarea>
</div>