// smartphones
@media(max-width: 415px)
{
  .container {
    h2 {
      text-align: center;
      font-size: 14px;
      margin-top: 8px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .system-area .system-area-data {
      height: 75vh;
      min-width: 380;
      min-height: 700;
    }

    .system-area-data {
      margin: 2rem;
      width: 80%;
    }

    .system-area {
      width: 100%;
      overflow: hidden;
      height: 100%;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
    }

    .system-area img {
      display: none;
      margin-top: 2rem;
      margin-left: 4rem;
      height: 20rem;
      width: 20rem;
      object-fit: cover;
      h2 {
        margin: 1rem auto;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }
      p {
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 10px;
        line-height: 1.4;
        opacity: .7;
      }
    }

    .system-area-data {
      width: 100%;
      .form-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        justify-content: space-between;
      }
      .form-actions {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  } // fim do container
} // Fim da media query para smartphones