<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),image-url('biblioteca');;">
  <div class="container">
    <h1><strong>SOS MONITOR</strong></h1>
    <p>Encontre um monitor disponível e tire as suas dúvidas.</p>
  </div>
</div>
