<div class="menu-body">

<%= link_to '
<div class="card-option">
  <div class="card-image option1 mx-3">
    <i class="fas fa-clock card-image option1"></i>
  </div>
  <div class="card-option-description">
        <h2>Monitorias</h2>
    <p>Exibe monitorias agendas e realizadas</p>
  </div>
</div>'.html_safe, monitorings_path %>

<%= link_to '
<div class="card-option">
  <div class="card-image option2 mx-3">
    <i class="fas fa-user card-image option2"></i>
  </div>
  <div class="card-option-description">
        <h2>Cadastro de Usuários</h2>
    <p>Acesso ao módulo de cadastramento de usuários</p>
  </div>
</div>'.html_safe, new_user_registration_path %>

<%= link_to '
<div class="card-option">
  <div class="card-image option3 mx-3">
    <i class="fas fa-users card-image option3"></i>
  </div>
  <div class="card-option-description">
        <h2>Cadastro de Turmas</h2>
    <p>Acesso ao módulo de cadastramento de Turmas</p>
  </div>
</div>'.html_safe, university_classes_path %>

<%= link_to '
<div class="card-option">
  <div class="card-image option4 mx-3">
    <i class="fas fa-book card-image option4"></i>
  </div>
  <div class="card-option-description">
        <h2>Cadastro de Disciplinas</h2>
    <p>Acesso ao módulo de cadastramento Disciplinas</p>
  </div>
</div>'.html_safe, disciplines_path %>

</div>