// monitorings/students_disciplines

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
  width: 64px;
  height: 32px;
  background-color: white;
  // box-shadow: 1px 1px 5px grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  border: 1px solid $blue;
  background-image: linear-gradient(to bottom right, #167ffb8c, #f4f4f4);
}

.radio p {
  margin: 0;
}

.text-form-options {
  margin: 0;
}

// monitorings/index

.monitoring-card {
  // border: 1px solid blue;
  width: 100%;
}

.monitoring-box {
  // border: 1px solid red;
}

.monitoring-info p {
  // border: 3px solid green;
  margin: 0;
}

.monitoring-info h5 {
  // border: 3px solid green;
  margin: 12px 0;
}

.monitoring-icons {
  // border: 3px solid purple;
  display: inline-grid;
  place-items: center;
}