#title-show-turma {
  margin: 0;
}

#monitor-name-show-turma {
  margin: 0;
  padding: 8px 0 0 8px;
}

#monitors-box-width {
  width: 100%;
}

#back-icon-show-turma {
  margin-left: 20px;
  z-index: 900;
}


.show-monitors-icons {
  justify-content: space-between;
}

.informations-show > ul, .informations-show > ol {
  padding: 8px 8px 0 24px;
  margin-bottom: 24px;
}

.add-monitors-class {
  margin-bottom: 24px;
}