
.yellow {
  display: flex;
  
  justify-content: space-between;
  background-color: yellow;
  height: 200px;
  margin: 10px;
}

.blue {
  background-color: blue;
  margin: 10px;
  height: 100px;
}

.red {
  background-color: red;
  margin: 10px;
}