.footer {
  height: 10vh;
  width: 100%;
  background-color: white;
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 1px gray;
}

.footer > span {
  margin: 16px;
}

#footer-index-professor, #footer-new-turma {
  position: fixed;
  bottom: 0;
}