body {
  overflow: auto !important;
}

label {
  margin: 0;
  font-size: 16px;
}

table {
  font-size: 12px;
  th {
    padding: 0 5px;
    font-weight: bold;  }
    td {
    padding: 0 5px;
    text-transform: capitalize;
    font-weight: lighter;
  }
}

hr {
  margin-top: 0;
}

a, i {
  color: $ufmt;
}
