// Import your components CSS files here.
@import "general";
@import "alert";
@import "avatar";
@import "navbar";
@import "login";
@import "toggle_btn";
@import "banner";
@import "system_area";
@import "background";
@import "buttoms";
@import "monitoring";
@import "cards";
@import "icons";
@import "loading";
@import "classes";
@import "titles";
@import "stars";
@import "fonts";
@import "footer";


body {
  background-color: $back-ufmt;
}

.index-body {
  margin: 0 16px;
  height: 75vh;
}

.separador {
  margin: 4px 64px;
}

