// Import your components CSS files here.
@import "general";
@import "alert";
@import "avatar";
@import "navbar";
@import "login";
@import "toggle_btn";
@import "banner";
@import "system_area";
@import "background";
@import "buttoms";
@import "monitoring";
@import "cards";
@import "icons";
@import "loading";
@import "classes";
@import "titles";
@import "stars";

body {
  background-color: $back-ufmt;
}

.footer {
  height: 10vh;
  width: 100%;
  background-color: white;
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 1px gray;
}

.footer > span {
  margin: 16px;
}

.index-body {
  margin: 0 16px;
  height: 75vh;
}

.separador {
  margin: 4px 64px;
}

.monitorings-title {
  text-shadow: 1px -2px 3px gray;
  margin-bottom: 32px;
}

.monitoring-title-box {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
