.form-schedule-view {
  overflow: auto;
}

.text-monitoring-confirmation-date {
  font-weight: bold;
  font-size: 115%;
}

.title-show-monitoring {
  margin-top: 16px;
}

.sub-title-show-monitoring {
  margin: 0;
}

.sucess-schedule {
  margin: 8px 16px 24px 8px;
  color: $ufmt;
}

.unsucess-schedule {
  margin: 24px;
  color: red;
}

.informations-show {
  background-color: white;
  // border: 1px solid red;
  width: 90%;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.informations-show > p {
  padding: 8px;
  margin: 0;
}

.new_monitorings_student {
  margin-bottom: 16px;
}

.form-monitor-edit {
  margin-bottom: 120px;
}