.calendar-box {
  // border: 1px solid yellow;
  color: rgba(255, 255, 255, 1);
  margin-top: 16px;
  position: static;
}

.monitor-calendar {
  // border: 1px solid red;
  width: 95%;
  // height: 50%;
}