.indentify {
  line-height: 16px;
}

.toggler__label > span, .indentify > small, .indentify > span {
  color:rgba(245, 245, 245, 0.7);
  font-style: italic;
  font-size: 66%;
}

.indentify p {
  color: white;
}

.navbar p {
  margin: 0;
}

.fa-caret-down {
  color: gray;
}

.fa-caret-down:before {
  content: "\f0d7";
  position: absolute;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #050569;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  margin: -5 0px;
}

.navbar-toggler {
  border: none;
  padding: 4px 0;
}

.student-class-name {
  font-size: 12px;
}

#navbar-ufmt {
  position: sticky !important;
  top: 0;
  z-index: 900;
}