// BOX PAI
.standard-title-box {
  // border: 1px solid red;
  align-items: center;
}

// BOX da ESQUERDA
.title-box-left-icon {
  // border: 1px solid green;
}

// BOX do CENTRO
.title-box-center-text {
  // border: 1px solid blue;
  justify-content: center;
  margin: 16px 0
}

// BOX da DIREITA
.title-box-right-empty {
  // border: 1px solid yellow;
}