/*
~~~~~~~~
Segue modelo de paginação para TITULOS c/ Botão de VOLTAR
~~~~~~~~

<div class="standard-title-box d-flex" >
  <div class="title-box-left-icon">
    <%= link_to university_classes_path do %>
      <i class="fas fa-chevron-left fa-2x" id="back-icon-show-turma"></i>
    <% end %>
  </div>
  <div class="title-box-center-text">
    <h3 class="monitorings-title text-center" id="title-show-turma"><%= @university_class.discipline.title %></h3>
    <h4 class="monitorings-title text-center">Turma: <%= @university_class.title %></h3>
  </div>
  <div class="title-box-right-empty">
  </div>
</div> 

fim */

// BOX PAI
.standard-title-box {
  // border: 1px solid red;
  align-items: center;
}

// BOX da ESQUERDA
.title-box-left-icon {
  // border: 1px solid green;
  width: 10%;
  text-align: center;
}

// BOX do CENTRO
.title-box-center-text {
  // border: 1px solid blue;
  justify-content: center;
  margin: 16px 0
}

// BOX da DIREITA
.title-box-right-empty {
  // border: 1px solid yellow;
}